/* Animação de Fade-in */
.fade-in {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.card-img-top {
    transition: transform 0.3s ease-in-out;
}

.card-img-top:hover {
    transform: scale(1.1);
}

.hero {
    background: url('banner.jpg') no-repeat center center/cover;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000;
}
